/build/
.deps
.libs
aclocal.m4
autom4te.cache
m4
compile
config.cache
config.guess
config.log
config.status
config.sub
config.h
config.h.in
configure
Makefile
Makefile.in
libtool
ltmain.sh
missing
depcomp
install-sh
stamp-h1
*.lo
*.o
*.la
*~
